.table {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 2rem;
    height: 400px;
    justify-items: center;
    align-items: center;
    width: 100%;

    input {
        height: 20px;
        width: 20px;
    }
}

.center {
    display: block;
    margin: 0 auto;
}

.score-board {
    margin: 10px auto;
    font-size: 40px;
    width: 400px;
    text-align: center;
}